html
    head
        title= 'Test Task'
    body
        h1= 'Hello, ' + user
        h2= 'Here are just 5 random friends of ya:'
        ul
            each fullname in fullNames
                li= fullname