html
    head
        title= 'Test Task'
    body
        h1= 'Greetings, ' + user
        h2= 'List of random friends, as requested:'
        ul
            each fullname in fullNames
                li= fullname